.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    display: flex;
    width: 1120px;
    flex-direction: column;
    .nav-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 127px;
      .container-image {
        .superbase {
          transition: 1s;
          margin-bottom: 32px;
        }
        .contact {
          img {
            cursor: pointer;
            &:first-child {
              margin-right: 24px;
            }
          }
        }
      }
      .box {
        display: grid;
        grid-template-columns: 160px 160px 160px 160px;
        grid-template-rows: 208px;
        column-gap: 32px;
        &__nav {
          display: flex;
        }
        &__list {
          display: flex;
          flex-direction: column;
          .link {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #EEEEEE;
            margin-bottom: 8px;
            &:first-child {
              cursor: default;
              color: #666666;
              margin-bottom: 16px;
              &:hover {
                color: #666666;
              }
            }
            &:hover {
              color: #24B47E;
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      position: relative;
      flex-direction: column;
      margin-bottom: 96px;
      .footer-line {
        width: 100%;
        height: 1px;
        background: #2A2A2A;
        border: 0;
        margin-bottom: 33px;
      }
      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #666666;
        }
        .light {
          display: flex;
          position: relative;
          justify-content: center;
          img {
            &:first-child {
              margin-right: 84px;
            }
          }
          .switch {
            display: flex;
            position: absolute;
            cursor: pointer;
            align-self: center;
            // top: 59.5%;
            // right: 4%;
            input[type='checkbox'] {
              position: relative;
              cursor: pointer;
              width: 44px;
              height: 24px;
              appearance: none;
              outline: none;
              background: #444444;
              border-radius: 9999px;
              transition: .5s;
              &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                box-shadow: 0px 0px 0px #FFFFFF;
                border-radius: 9999px;
                background: #1F1F1F;
                right: 0;
                transition: .5s;
                transform: scale(1.1);
                transform: translate(-10%,10%);
              }
              &:checked::before {
                right: 20px;
              }
            }
          }
        }
      }
    }
  }
}